body {
  scroll-behavior: smooth; }

#index-container .container-fluid {
  padding: 0px 0px; }

#index-container .btn {
  border-radius: 0px; }

#index-container img {
  border-radius: 0px; }

#index-container .landing-page-layout {
  height: 100vh;
  width: 100%;
  background: url("../../img/landing-back.png") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #index-container .landing-page-layout nav {
    padding: 20px 20px; }
    #index-container .landing-page-layout nav a {
      color: #fff; }
    #index-container .landing-page-layout nav a:hover {
      color: #D2D7D3; }
    #index-container .landing-page-layout nav a.nav-header {
      padding: 0px 20px;
      font-size: 24px;
      text-decoration: none; }
    #index-container .landing-page-layout nav a.nav-item {
      padding: 0px 20px;
      font-size: 18px;
      text-decoration: none; }
    @media screen and (max-width: 767px) {
      #index-container .landing-page-layout nav {
        display: none; } }
  #index-container .landing-page-layout .landing-page-body {
    padding: 20px 20px; }
    #index-container .landing-page-layout .landing-page-body a {
      background: #3b60ab;
      color: #fff;
      border-color: #3b60ab;
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 123, 255, 0.25); }
    #index-container .landing-page-layout .landing-page-body a:hover {
      box-shadow: 0 15px 25px 1pxrgba 0, 0, 0, 0.05, 0 13px 20px rgba(0, 123, 255, 0.25);
      background: #204692;
      transition: ease-in 0.5s; }
    #index-container .landing-page-layout .landing-page-body h4 {
      position: relative;
      top: 30vh;
      color: #EEEEEE; }
      @media screen and (max-width: 379px) {
        #index-container .landing-page-layout .landing-page-body h4 {
          top: 2vh; } }
    #index-container .landing-page-layout .landing-page-body #landing-page-button {
      position: relative;
      top: 70vh; }
      @media screen and (max-width: 379px) {
        #index-container .landing-page-layout .landing-page-body #landing-page-button {
          top: 40vh; } }
      @media screen and (max-width: 767px) {
        #index-container .landing-page-layout .landing-page-body #landing-page-button {
          top: 50vh; } }

#index-container #body-page-layout .sidebar {
  height: 100%;
  background: white; }
  #index-container #body-page-layout .sidebar .title, #index-container #body-page-layout .sidebar .body {
    margin: 0 auto;
    padding: 40px 20px; }
  #index-container #body-page-layout .sidebar .title {
    background: #89C4F4; }
    #index-container #body-page-layout .sidebar .title h4 {
      color: #3A539B !important; }

#index-container #body-page-layout .right-section {
  padding: 50px 50px; }
  #index-container #body-page-layout .right-section .col-lg-6 {
    padding-bottom: 15px; }
  #index-container #body-page-layout .right-section .col-lg-4 {
    padding-bottom: 15px; }
  #index-container #body-page-layout .right-section .card {
    border-radius: 0px; }
    #index-container #body-page-layout .right-section .card .card-header {
      border-radius: 0px; }
      #index-container #body-page-layout .right-section .card .card-header h5 {
        margin-bottom: 0px; }
    #index-container #body-page-layout .right-section .card a.btn {
      background: #3b60ab;
      color: #fff;
      border-color: #3b60ab;
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 123, 255, 0.25); }
    #index-container #body-page-layout .right-section .card a.btn:hover {
      background: #204692;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 8px 20px rgba(0, 123, 255, 0.25);
      transition: all 0.5s; }
    #index-container #body-page-layout .right-section .card a.btn:focus {
      background: #204692; }
    #index-container #body-page-layout .right-section .card:hover {
      box-shadow: 0 0.47rem 2.2rem 1rem rgba(90, 97, 105, 0.1), 0 0.94rem 1.407rem 0.7rem rgba(90, 97, 105, 0.1), 0 0.5rem 0.532rem 0.25rem rgba(90, 97, 105, 0.12), 0 0.195rem 0.12rem 0.05rem rgba(90, 97, 105, 0.1);
      -webkit-box-shadow: 0 0.47rem 2.2rem 1rem rgba(90, 97, 105, 0.1), 0 0.94rem 1.407rem 0.7rem rgba(90, 97, 105, 0.1), 0 0.5rem 0.532rem 0.25rem rgba(90, 97, 105, 0.12), 0 0.195rem 0.12rem 0.05rem rgba(90, 97, 105, 0.1);
      -moz-box-shadow: 0 0.47rem 2.2rem 1rem rgba(90, 97, 105, 0.1), 0 0.94rem 1.407rem 0.7rem rgba(90, 97, 105, 0.1), 0 0.5rem 0.532rem 0.25rem rgba(90, 97, 105, 0.12), 0 0.195rem 0.12rem 0.05rem rgba(90, 97, 105, 0.1);
      -o-box-shadow: 0 0.47rem 2.2rem 1rem rgba(90, 97, 105, 0.1), 0 0.94rem 1.407rem 0.7rem rgba(90, 97, 105, 0.1), 0 0.5rem 0.532rem 0.25rem rgba(90, 97, 105, 0.12), 0 0.195rem 0.12rem 0.05rem rgba(90, 97, 105, 0.1); }

#index-container #body-page-layout .software-section, #index-container #body-page-layout .others-section {
  min-height: 100vh;
  background: #ECF0F1 url("../../img/cloud.png") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#index-container #body-page-layout .others-section {
  background: #ECF0F1 url("../../img/curvy.png") no-repeat center fixed; }
  #index-container #body-page-layout .others-section .iframe-container {
    margin: 0px auto; }
    @media screen and (max-width: 767px) {
      #index-container #body-page-layout .others-section .iframe-container iframe {
        width: 260px;
        height: 180px; } }
  #index-container #body-page-layout .others-section .section-title {
    background: silver;
    padding: 40px;
    margin: 20px 20px; }
    #index-container #body-page-layout .others-section .section-title i, #index-container #body-page-layout .others-section .section-title h5 {
      display: inline-block; }
    #index-container #body-page-layout .others-section .section-title i {
      padding: 0px 5px; }
    @media screen and (max-width: 767px) {
      #index-container #body-page-layout .others-section .section-title {
        width: 100vw; } }
  #index-container #body-page-layout .others-section .design {
    background: #F64747;
    color: #ececec; }
    #index-container #body-page-layout .others-section .design h5 {
      color: #ececec; }
  #index-container #body-page-layout .others-section .photo {
    color: #ececec;
    background: #2574A9; }
    #index-container #body-page-layout .others-section .photo h5 {
      color: #ececec; }
  #index-container #body-page-layout .others-section .video {
    color: #ececec;
    background: #1BBC9B; }
    #index-container #body-page-layout .others-section .video h5 {
      color: #ececec; }
